[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "info"

[[workflows.workflow]]
name = "info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run-info.sh && echo \"\" && echo \"Press Ctrl+C to stop. The application code is ready for download.\" && sleep infinity"

[workflows.workflow.metadata]
outputType = "console"
